#
# intercore communication protocol and impelementation on bf561
#

menuconfig ICC_DRIVER
	bool "icc driver"
	select BF561_COREB
	help
	  the icc driver is a device driver that control the DSP devices,
	  and bridges the the program runing on DSPs and linux user applications
if ICC_DRIVER
config	ICC
	bool "icc protocol"
	default N
	help
	  ICC protocol, a shared memory based protocol for communication between
	  linux core and DSP core
endif
