#
menu "ALSA Blackfin devices"
	depends on SND && BLACKFIN

config SND_BLACKFIN_AD1836
	tristate "AD1836 Audio support for BF53x"
	depends on SND && BLACKFIN
	select SND_PCM
	select SPI
	select SPI_BFIN
	help
	  Select this if you have an AD1836 daughter card connected to
	  Blackfin Stamp Board by the SPI and SPORTx ports.

	  To compile this driver as a module, choose M here: the
	  module will be called snd-ad1836.

	  If unsure, say N.

choice
	prompt "Interface between Blackfin and AD1836"
	depends on SND_BLACKFIN_AD1836
	default SND_BLACKFIN_AD1836_TDM
	help
	  There are two types of interface can be supportted on Blackfin
	  Stamp: TDM and I2S. TDM support 8 channels (DAC0,1,2 SPDIF)*(L+R)
	  output and 8 channels input (ADC0,1, SPDIF, unused)*(L+R). I2S
	  only support stereo output on DAC0 and stereo input on ADC0.

config SND_BLACKFIN_AD1836_TDM
	boolean "TDM interface"
	help
	  TDM support all 4 stereo outputs and 3 stereo inputs.

	  If unsure, say Y.

config SND_BLACKFIN_AD1836_I2S
	boolean "I2S interface"
	help
	  I2S support 1 stereo output and 1 stereo input.

	  If unsure, say N.

endchoice
choice
	prompt "5.1 Channels or 3 Separate Stereos"
	depends on SND_BLACKFIN_AD1836_TDM
	default SND_BLACKFIN_AD1836_MULSUB
	help
	  There are 6 output channels (expcept S/PDIF), they can work in
	  5.1 channels mode or 3 seperate stereos.

	  When in 3 seperate stereos mode, 3 substreams are supported.
	  The /dev/dsp device can be opened 3 times, every susbstream used
	  different channels pairs.

config SND_BLACKFIN_AD1836_MULSUB
	boolean "3 Stereos"
	help
	  Support 3 separate stereos

	  If unsure, say Y.

config SND_BLACKFIN_AD1836_5P1
	boolean "5.1 Channels"
	help
	  Support 5.1 Channels.

	  If unsure, say N.

endchoice

config SND_BLACKFIN_AD1836_I2S_LINPHONE
	boolean "Support setting for linphone:16 bits 8k mono mode in driver"
	depends on SND_BLACKFIN_AD1836_I2S
	help
	  In order to avoid rate convertion in alsa library or oss emulation
	  layer, let AD1836 support 16 bits, 8k, momo mode.

config SND_BLACKFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BLACKFIN_AD1836
	default 0
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 or 1

config SND_BLACKFIN_SPI_PFBIT
	int "Blackfin Audio SPI channel selection bit"
	depends on SND_BLACKFIN_AD1836
	default 4
	help
	  Enter the Blackfin SPI channel to which your sound chip is connected
	  acceptable values are 0 to 7

config SND_BFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BFIN_AD73311
	default 0
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 or 1

config SND_BFIN_AD73322
	tristate "Cascaded AD73322 Audio support for BF53x"
	depends on SND && BLACKFIN
	select SND_PCM
	help
	  Select this if you have AD73322 connected in cascade mode connected to SPORT0 ports

	  To compile this driver as a module, choose M here: the
	  module will be called snd-ad73322.

	  If unsure, say N.

config SND_BFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BFIN_AD73322
	default 2
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 ,1 or 2.Input 0 or 1 if, you have one card on SPORT0 or SPORT1,
	  Input 2 if you have two card on SPORT0 and SPORT1. 	

config SND_BFIN_AD73322_SPORT0_SE
	int "PF pin for AD73322 Chip Select on SPORT0"
	depends on SND_BFIN_AD73322
	default 10
	help
	  Enter the GPIO used to control AD73322's SE pin. Acceptable
	  values are 0 to 10

config SND_BFIN_AD73322_SPORT1_SE
	int "PF pin for AD73322 Chip Select on SPORT1"
	depends on SND_BFIN_AD73322
	default 14
	help
	  Enter the GPIO used to control AD73322's SE pin. Acceptable
	  values are 11 to 14

config SND_BFIN_AD73322_RESET
	int "PF pin for AD73322 Chip Reset"
	depends on SND_BFIN_AD73322
	default 12
	help
	  Enter the GPIO used to control AD73322's RESET pin. Acceptable
	  values are 0 to 14

endmenu
