#
menu "ALSA Blackfin devices"
	depends on SND && BLACKFIN

config SND_BFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BFIN_AD73311
	default 0
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 or 1

config SND_BFIN_AD73322
	tristate "Cascaded AD73322 Audio support for BF53x"
	depends on SND && BLACKFIN
	select SND_PCM
	help
	  Select this if you have AD73322 connected in cascade mode connected to SPORT0 ports

	  To compile this driver as a module, choose M here: the
	  module will be called snd-ad73322.

	  If unsure, say N.

config SND_BFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BFIN_AD73322
	default 2
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 ,1 or 2.Input 0 or 1 if, you have one card on SPORT0 or SPORT1,
	  Input 2 if you have two card on SPORT0 and SPORT1. 	

config SND_BFIN_AD73322_SPORT0_SE
	int "PF pin for AD73322 Chip Select on SPORT0"
	depends on SND_BFIN_AD73322
	default 10
	help
	  Enter the GPIO used to control AD73322's SE pin. Acceptable
	  values are 0 to 10

config SND_BFIN_AD73322_SPORT1_SE
	int "PF pin for AD73322 Chip Select on SPORT1"
	depends on SND_BFIN_AD73322
	default 14
	help
	  Enter the GPIO used to control AD73322's SE pin. Acceptable
	  values are 11 to 14

config SND_BFIN_AD73322_RESET
	int "PF pin for AD73322 Chip Reset"
	depends on SND_BFIN_AD73322
	default 12
	help
	  Enter the GPIO used to control AD73322's RESET pin. Acceptable
	  values are 0 to 14

endmenu
