
config VIDEO_BLACKFIN_CAM
	tristate "Blackfin Camera driver"
	depends on BFIN && VIDEO_DEV && I2C
	default n
	help
	  V4L Support for ST VS6524 camera attached to
	  the Blackfin PPI.

	  To compile this driver as a module, choose M here: the
	  module will be called blackfin_cam.

config VIDEO_BLACKFIN_MT9M001
	tristate "Micron Camera driver for BF537"
	depends on BFIN && VIDEO_DEV && I2C
	default n
	help
	  V4L Support for the Micron MT9M001 camera attached to
	  the Blackfin PPI.

	  To compile this driver as a module, choose M here: the
	  module will be called mt9m001.

comment "CMOS Camera Sensor Selection"

choice
	prompt "Target Sensor"
	depends on VIDEO_BLACKFIN_MT9M001 || VIDEO_BLACKFIN_CAM	
	default MT9V022

config MT9V022
	bool "MT9V022"
	help
	  Micron MT9V022 Sensor Support

config MT9M001
	bool "MT9M001"
	help
	  Micron MT9M001 Sensor Support

config VS6524
	bool "VS6524"
	help
	  ST VS6524 Sensor Support

config VS6624
	bool "VS6624"
	help
	  ST VS6624 Sensor Support

endchoice
